@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@700&family=Atkinson+Hyperlegible:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  display: block;
  height: 100%;
}

body {
  font-family: 'Sf Pro Text', sans-serif;
  margin: 0;
  padding: 3rem;
  width: 100wh;
  height: 100vh;
  color: #1e2326;
  background: #FFFBEF;
  display: grid;
  flex-direction: column;
}
