<div class="wrap">
  <div class="profile">
    <img
      class="photo"
      [ngSrc]="profilePhoto"
      [height]="275"
      [width]="275"
      priority
      alt="Profile photo of Ryan Craig Martin"
    />
    <h1 class="profile-name">Ryan Craig Martin</h1>
    <h2>
      Engineering Program Manager building <a href="https://www.sommsation.com/">Sommsation</a> 🍷
    </h2>
  </div>

  <div class="links">
    <ul>
      @for (link of links; track link.url) {
      <li>
        <ul>
          <a [href]="link.url" class="link"><i [class]="link.icon"></i> {{ link.text }} </a>
        </ul>
      </li>
      }
    </ul>
  </div>

  <iframe
    title="Spotify Now Playing"
    width="100%"
    height="450"
    src="https://spotify-github-profile.kittinanx.com/api/view.svg?uid=1230181600&redirect=true][https://spotify-github-profile.kittinanx.com/api/view.svg?uid=1230181600&cover_image=true&theme=default&show_offline=false&background_color=121212&interchange=false"
    frameborder="0"
    loading="lazy"
  ></iframe>

  <!-- <iframe
    title="calendly"
    class="calendly"
    src="https://calendly.com/ryancraigmartin"
    width="100%"
    height="950"
    scrolling="no"
    frameBorder="0"
    loading="lazy"
  ></iframe> -->
</div>
